body {
    background-color: rgb(226, 128, 218);
    font-family: sans-serif;
    text-align: center;
    margin-top: 30px;
}

h1 {
    color: rgb(21, 253, 253);
    font-family: permanent marker, cursive;
    font-size: 5em;
    margin-bottom: 30px;
}

h3 {
    color: rgb(9, 240, 59);
    font-size: 3em;
    font-family: permanent marker, cursive;
}

p {
    color: rgb(21, 253, 253);
    font-weight: bold;
}

.btn {
    margin-bottom: 30px;
}

